:root {
    --text-size: 60px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.app {
    margin: 0 auto;
    text-align: center;

    h1 {
        margin: 0;
    }

}


.lyrics-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow-y: hidden;
    max-height: 80vh;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .container::-webkit-scrollbar {
        display: none;
    }
}

.lyrics-row {
    margin: 0;
    padding: 20px;

    font-size: var(--text-size);
    width: fit-content;

    transition: ease 300ms;
    cursor: pointer;

    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

.lyrics-row-inactive {
    opacity: 0;
}

.lyrics-row-three-apart {
    opacity: 0.2;
}

.lyrics-row-two-apart {
    opacity: 0.4;
}

.lyrics-row-one-apart {
    opacity: 0.6;
}

.lyrics-row-empty {
    padding: var(--text-size);
}

/*-----------------BILINGUAL MODE----------------*/

.lyrics-container-bilingual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.bilingual-lyrics {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: var(--text-size);
    margin: calc(var(--text-size) / 2);
    transition: ease 300ms;
}

/* --------------- AUDIO PLAYER*/
.audio-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.metadata {
    display: flex;
    font-family: "Montserrat", "sans-serif";

    p {
        margin: 0 10px;
    }
}

.audio-seeker{
    margin: auto;
    width: 60vw;
}